# pixi environments
.pixi
*.egg-info

batchedops.mojo

# thank you for the refactor help, Claude Opus 4.7
.agents/
.claude/

ignoreme/
models/
scripts/
results/*.csv
results/oldbak/
*.save
*.bak
main
*.out

#nvidia profiling
#timeline.*

#flamegraphing
out.*
perf.*
flamegraph.svg
