
# pixi environments
.pixi
*.egg-info

# thank you for the refactor help, Claude Opus 4.7
.agents/
.claude/

ignoreme/
models/
scripts/
results/*.csv
*.save
*.bak
main
*.out

#flamegraphing
out.*
perf.*
flamegraph.svg
